name: Deploy Aliyun oss

# Controls when the workflow will run
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:
    inputs:
      number:
        description: 'Related pull request number'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Notify the build step is starting
        uses: hasura/comment-progress@v2.2.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          number: ${{ github.event.number }}
          id: comment-progress
          message: 'Starting deployment of this pull request.'

      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@master
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/

      - name: Resolve Dependencies
        run: |
          npm i -g pnpm
          pnpm i

      - name: Setup Aliyun OSS CLI
        run: |
          wget https://gosspublic.alicdn.com/ossutil/1.7.11/ossutil64
          chmod 755 ossutil64
          cp ./ossutil64 /usr/local/bin/

      # https://help.aliyun.com/document_detail/120072.htm
      - name: Setup Aliyun OSS Config
        run: |
          ossutil64 config -e https://oss-cn-hongkong.aliyuncs.com -i ${{ secrets.ALIYUN_ACCESS_KEY_ID }} -k ${{ secrets.ALIYUN_ACCESS_KEY_SECRET }}

      - name: Build Hexo Site
        run: |
          pnpm build

      - name: Upload Canary
        if: ${{ github.ref != 'refs/heads/master' }}
        run: |
          ossutil64 cp -r -u dist/ oss://inpageedit-dev/plugins/${{ github.ref_name }}/

      - name: Upload Production
        if: ${{ github.ref == 'refs/heads/master' }}
        run: |
          ossutil64 cp -r -u dist/ oss://inpageedit-prod/plugins/

      - name: Publish GitHub Pages
        if: ${{ github.ref == 'refs/heads/master' }}
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: ghpage
          force_orphan: true

      - name: Notify the build step is finished
        if: ${{ github.ref != 'refs/heads/master' }}
        uses: hasura/comment-progress@v2.2.0
        env:
          dist_path: plugins/${{ github.ref_name }}/
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          number: ${{ github.event.number }}
          id: comment-progress
          recreate: true
          message: |
            Successfully deployed to the following URLs:

            - https://canary.ipe.wiki/${{ env.dist_path }}
            - https://dev.ipe.wiki/${{ env.dist_path }}
